
<h2>Student Database</h2>


<h1>{{formData | json}}</h1>
<form  class="text-center"  #studentData = "ngForm" (ngSubmit)="onSubmit(studentData)" >
   <label for="name">Student Id: </label><input type="text" name="id" id="studentId" placeholder="Enter Your Id" class="mb-3" [(ngModel)]="formData.id" required><br> 
   <label for="name">Student Name: </label> <input type="text" name="name" id="name" placeholder="Name"  class="mb-3" [(ngModel)]="formData.name" required> <br>
   <label for="name">Age: </label> <input type="text" name="age" id="age"  placeholder="Age"  class="mb-3" [(ngModel)]="formData.age" required> <br>
   <label for="name">Course: </label> <input type="text" name="course" id="course" placeholder="Course"  class="mb-3" [(ngModel)]="formData.course" required> <br>
   <label for="name">Department: </label> <input type="text" name="department" id="department" placeholder="department"  class="mb-3" [(ngModel)]="formData.department" required> <br>
   <label for="name">Hostel Name: </label> 
   <select name="hostelName" id="hostelName"  class="mb-3" [(ngModel)]="formData.hostelName" required>
    <option value="Fagunwa Hall">Fagunwa Hall</option>
    <option value="Jaja Hall">Jaja Hall</option>
    <option value="Biobaku Hall">Biobaku Hall</option>
    <option value="Moremi Hall">Moremi Hall</option>
  </select> <br>
  <label for="name">Number Of Credits:</label> <input type="text" name="numOfCredits" id="numOfCredits" placeholder="Number Of Credits"  class="mb-3" [(ngModel)]="formData.numOfCredits" required> <br>
  <input class="btn btn-primary mb-3" type="submit"  value="submit">
</form>

<h2 class="text-center">New Form</h2>
<form class="text-danger text-center" [formGroup]="newFormData" (ngSubmit)="newOnSubmit()">
  <label for="Id">Student Id: </label><input type="text" formControlName="id" id="studentId" placeholder="Enter Your Id" class="mb-3"  required><br> 
  <label for="name">Student Name: </label> <input type="text" formControlName="name" id="name" placeholder="Name"  class="mb-3" required> <br>
  <label for="Age">Age: </label> <input type="text" formControlName="age" id="age"  placeholder="Age"  class="mb-3" required> <br>
  <label for="Course">Course: </label> <input type="text" formControlName="course" id="course" placeholder="Course"  class="mb-3" required> <br>
  <label for="department">Department: </label> <input type="text" formControlName="department" id="department" placeholder="department"  class="mb-3" required> <br>
  <label for="hostel">Hostel Name: </label> 
  <select formControlName="hostelName" id="hostelName"  class="mb-3" required>
   <option value="Fagunwa Hall">Fagunwa Hall</option>
   <option value="Jaja Hall">Jaja Hall</option>
   <option value="Biobaku Hall">Biobaku Hall</option>
   <option value="Moremi Hall">Moremi Hall</option>
 </select> <br>
 <label for="numberOfCredits">Number Of Credits:</label> <input type="text" formControlName="numOfCredits" id="numOfCredits" placeholder="Number Of Credits"  class="mb-3" required> <br>
 <input class="btn btn-primary mb-3" type="submit"  value="submit" [disabled]="!newFormData.valid">
</form>

<app-student-result [formValues]="formData"></app-student-result>